<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229720403671-medag5sn047jg3jdtg2u8uak3fl8loe7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229720403671-medag5sn047jg3jdtg2u8uak3fl8loe7</string>
	<key>API_KEY</key>
	<string>AIzaSyBfvBXNhzrzCzrqTrCxI1kToXJytevrWOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>229720403671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>koko-3bfd8</string>
	<key>STORAGE_BUCKET</key>
	<string>koko-3bfd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229720403671:ios:cb8b1f4d8671dca3578a92</string>
</dict>
</plist>